* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Okra, Helvetica, sans-serif;
  font-weight: 100;
}
.container {
  /* background: url(main.png); */
  width: 100%;
  height: 420px;
}
.container img {
  position: absolute;
  width: 100%;
  height: 420px;
  object-fit: cover;
  z-index: -1;
}
.container .nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  align-items: center;
  padding: 0 120px;
}
.container a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 400 !important;
  font-family: Okra, Helvetica, sans-serif;
}

.navright {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.head {
  text-align: center;
  margin-top: 30px;
}

.head img {
  position: relative;
  height: 60px;
  width: 300px;
  object-fit: contain;
}

.head h1 {
  color: white;
  font-family: Okra, Helvetica, sans-serif;
  font-size: 40px;
  margin: 30px 0;
  font-weight: 400;
}

#select {
  width: 260px;
  height: 52px;
  border-top-left-radius: 10px;
  border-end-start-radius: 10px;
  border: none;
  padding: 0 20px;
  font-size: 1rem;
}

.seacrhbar {
  border-top-right-radius: 10px;
  border-end-end-radius: 10px;
  width: 522px;
  height: 52px;
  border: none;
  /* font-size: 16px; */
  padding: 0 20px;
  font-size: 1rem;
}

.upper-mid {
  display: flex;
  margin: 50px 0;
  /* align-items: center; */
  justify-content: center;
}

.first {
  width: 353px;
  height: 230px;
  margin: 0 20px;
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 1px 5px gray;
  color: rgb(54, 54, 54);
  font-family: Okra, Helvetica, sans-serif;
  transition: all;
  transition-duration: 400ms;
}

.first h3 {
  padding-bottom: 5px;
  color: blue;
  font-weight: 100;
}

.first img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.second {
  position: absolute;
  background-color: white;
  width: 100%;
  bottom: 0;
  padding: 13px 0px 13px 15px;
  border-radius: 0 0 10px 10px;
}

.first:hover {
  transform: scale(1.05);
}

.word {
  margin: 0 120px;
}

.word h1 {
  font-size: 2.5rem;
}

.word p {
  font-size: 1rem;
  color: rgb(54, 54, 54);
}

.mid {
  display: flex;
  justify-content: center;
  /* background: linear-gradient(to bottom, #000, transparent); */
}

.one {
  width: 20%;
  height: 320px;
  position: relative;
  border-radius: 20px;
  margin: 30px 4px;
  box-shadow: 5px 5px 10px grey;
}
.one img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  z-index: -1;
  border-radius: 20px;
}
.one p {
  position: absolute;
  bottom: 1.3rem;
  left: 1.5rem;
  color: white;
  z-index: 3;
}
.one:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  border-radius: 20px;
  background: linear-gradient(to top, #000, transparent);
}
.one:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #000, transparent);
}
.mid-mid h1 {
  margin: 50px 0 20px 120px;
  /* text-align: center; */
}
.city {
  width: 82%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
}
.city-name {
  height: 5rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 2px 2px 6px grey;
  transition: all;
  transition-duration: 200ms;
}
.city-name a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: lighter;
  text-align: left;
  color: rgb(54, 54, 54);
}
.city-name:hover {
  transform: scale(1.01);
}
.city-name p {
  margin: 1rem 0.8rem;
}
.mid-foot {
  width: 100%;
  height: 480px;
  background-color: rgb(255, 251, 247);
  display: flex;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
}
.imgg {
  width: 20%;
  height: 60%;
}
.imgg img {
  width: 100%;
  height: 100%;
}
.foottext {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
  margin: 30px;
  font-size: 1.1rem;
  color: rgb(54, 54, 54);
  font-weight: lighter;

  /* align-items: flex-end; */
}
.foottext h1 {
  font-size: 2.8rem;
  opacity: 0.9;
}
.foottext p {
  opacity: 0.9;
  font-weight: lighter;
}
.emailkliye {
  height: 3rem;
  width: 17rem;
  font-size: 1rem;
  border: none;
  color: rgb(28, 28, 28);
  border-radius: 0.7rem;
  background-color: white;
  border: 0.05rem solid rgb(224, 53, 70);
  opacity: 0.9;
  font-weight: lighter;
}
.footone {
  opacity: 0.9;
}
.but {
  height: 3rem;
  width: 8rem;
  font-size: 1rem;
  background-color: rgb(224, 53, 70);
  border: none;
  border-radius: 0.7rem;
  color: white;
  opacity: 0.8;
}
.footimg {
  height: 2.7rem;
  width: 100%;
  display: flex;
  /* margin:0 1rem; */
}
.footimg img {
  margin-right: 1rem;
  height: 100%;
  width: 30%;
}
.foot {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  width: 100%;
  height: 27rem;
  align-items: center;
}
.last-one {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 2.2rem 0;
}
.lastimg {
  height: 3.4rem;
  width: 8.4rem;
  /* border:2px solid red; */
}
.lastimg img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.last-two {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}
.butt {
  height: 2.5rem;
  width: 6rem;
  border-radius: 8px;
  margin: 0 0.5rem;
  font-size: 1rem;
  padding-left: 0.4rem;
  background: transparent;
  box-shadow: 1px 1px 3px grey;
}
.bol {
  margin-bottom: 1rem;
}
.bol a {
  text-decoration: none;
  color: #000;
}
.bol p {
  font-size: 0.9rem;
  line-height: 1.9;
  opacity: 0.8;
}
.sachilast {
  width: 80%;
}
.bol .make {
  font-weight: bold;
  line-height: 2.9;
}
.sachilast p {
  opacity: 0.8;
  font-size: 0.85rem;
  font-weight: lighter;
}
